RewriteOptions inherit
Options +SymLinksIfOwnerMatch
RewriteEngine On

<ifModule mod_security.c>
SecFilterEngine Off
SecFilterScanPOST Off
</ifModule>

RewriteCond %{HTTPS} !=on
RewriteRule ^(.*)$ https://%{HTTP_HOST}%{REQUEST_URI} [L,R=301] 

RewriteRule ^blog http://neobuxultimatestrategy.com/?action=posts [L,R=301]

ErrorDocument 400 /images/
ErrorDocument 401 /images/
ErrorDocument 403 /images/
ErrorDocument 404 /images/
ErrorDocument 500 /images/