RewriteEngine On

RewriteRule /neobux-guide /?p=neobux-referral-guide [L,R=301] 
RewriteRule /?p=neobux-guide /?p=neobux-referral-guide [L,R=301]
RewriteRule ^video-course$ /video/ [L,R=301]
RewriteRule ^video/$ http://neobuxultimatestrategy.com [L,R=301]

ErrorDocument 400 /images/
ErrorDocument 401 /images/
ErrorDocument 403 /images/
ErrorDocument 404 /images/
ErrorDocument 500 /images/