<center><h1><b>This Download Link Has Expired</b></font></p></h1></center>

<p>&nbsp;</p>

<p>Your download link is only valid for <b><?= $expires ?></b> hours from the time of your purchase and has now expired.  </p>

<p>Current customers can log into the members area to download the most recent copy of <?=$itemName?><br>
	<a href="members/">Click here to go to the members area</a><br>
</p>

<p>	You should have received your username and password upon purchase of the product.
If you forgot your password, please contact us at <font face="verdana" size="2">
<a href="mailto:<?= $supportEmail ?>"><?= $supportEmail  ?></a></font> </p>