<p>&nbsp;</p>

<p align="center">Payment methods </p>

<p><br />
Neteller ID: <input type="text" value="891725" size="10" /><br /><br />
Bitcoin Address: <input type="text" value="1CNG9GgXy9MM9KiH2JtQSyuaLiwKgmihJU" size="35" /><br /><br />
Amazon Payments:  <a href="http://www.amazon.com/gp/feature.html?ie=UTF8&docId=1000708691">http://www.amazon.com/gp/feature.html?ie=UTF8&docId=1000708691</a>
</p>

<p>&nbsp;</p>

<p>All transactions will be processed manually. After payment is made, please send an email
    to <a href="mailto:<?=$supportEmail?>"><?=$supportEmail?></a> </p>

<p>&nbsp;</p>

<p>&nbsp;</p>