<?php
if ($productID == 3) { 
	//PTC Mini-Site
	$stripeOrderLink = 'https://buy.stripe.com/6oE7v4bg9cqy3aocMR';
}
else {
	//NUS Membership
	$stripeOrderLink = 'https://buy.stripe.com/6oE5mW98176e5iw28h';	
}
?>
<p>&nbsp;</p>

<center>

<img id="orderForm" src="<?=$dir?>images/splash/stripe.png" width="50%"" ><br /><br />
<img border="0" src="<?=$dir?>images/transition.gif" width="186" height="42"><br /><br />

<div class="orderForm">
 
	<b>** FOR YOUR PROTECTION **</b><br />

	You are being transferred to our <img src="<?=$dir?>images/splash/lock.png" border="0" alt="paypal">
	<b>SECURE PAYMENT PAGE</b>
	<br /><br />
	
	<b>** IMPORTANT ** </b><br />
	Remember to click <b>RETURN TO MERCHANT</b> after checkout to receive your 
	download.  

	<p>&nbsp;</p>
 
	 <b>** DOWNLOAD EMAIL **</b><br />Look for your download email in your inbox. 
</div>
</center>

<p>&nbsp;</p>

<center>
	<div style="width: 200px; font-size: 12px; align: center;">
		<font face="verdana">Support email: [<?=$paidToEmail?>]</font>
	</div>
</center>
 
<meta http-equiv="refresh" content="3;URL='<?=$stripeOrderLink?>'" />    
<p>&nbsp;</p>