
<center>

<img src="https://www.paypal.com/en_US/i/bnr/horizontal_solution_PPeCheck.gif" border=0><br>
<img border="0" src="<?=$dir?>images/transition.gif" width="186" height="42"><br><br>

<table width=420px cellpadding=5 style="border: 1px solid black; font-size: 12px;">
<tr><td align="center">
	<font face=verdana>
	<b>** FOR YOUR PROTECTION **</b><br />
	You are being transferred to our <img src="<?=$dir?>images/lock.png" border="0" alt="paypal">
	<b>SECURE PAYMENT PAGE</b>
	<br><br>
	<b>** IMPORTANT ** </b><br>
	Remember to click <b>RETURN TO MERCHANT</b> after checkout to receive your 
	download. </font>
</td></tr>
</table>

<p>&nbsp;</p>

<table width=420px cellpadding=5 style='border: 1px solid black; font-size: 12px;'>
<tr><td align="center">
	<font face=verdana><b>** DOWNLOAD EMAIL **</b><br>Look for your download email in your inbox.</font>
</td></tr>
</table>
</center>

<p>&nbsp;</p>

<br /><br />
<center>
<div style='width: 200px; font-size: 10px; align: center;'>
	<font face=verdana>Your sponsor is [<?=$paidToEmail?>]</font>
</div>

</center>
<?
if($_GET['pay'] == 'M')
{
?>	
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paymentform">
	<input type="hidden" name="cmd" value="_xclick-subscriptions">
	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="no_note" value="1">
	<input type="hidden" name="shipping" value="0.00">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="bn" value="PP-BuyNowBF">
	<input type="hidden" name="rm" value="2">
	<input type="hidden" name="business" value="<?=$paidToEmail?>">
	<input type="hidden" name="item_name" value="<?=$itemName?>">
	<input type="hidden" name="item_number" value="<?=$itemNumber?>">
	<input type="hidden" name="amount" value="<?=$itemPrice?>">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="notify_url" value="<?=$ipnURL?>">
	<input type="hidden" name="return" value="<?=$ipnURL?>">
	<input type="hidden" name="cancel_return" value="<?=$cancelURL?>">
		
	<!--	Paypal Payment Page variables	-->
	<input type="hidden" name="cbt" value="Click Here to Download <?=$itemName?>">
<!--<input type="hidden" name="cpp_header_image" value="https://www.e-junkie.com/sslpic/7891.b4238789d412bd1a03f0818bf4fedcad.jpg">
	<input type="hidden" name="cpp_headerborder_color" value="000000">
	<input type="hidden" name="cpp_headerback_color" value="000000">
	<input type="hidden" name="cpp_payflow_color" value="000000">
	<input type="hidden" name="image_url" value="">-->

	<!-- Subscription variables -->
	<input type="hidden" name="a3" value="<?=$itemPrice?>">
	<input type="hidden" name="p3" value="1">
	<input type="hidden" name="t3" value="M">
	<input type="hidden" name="src" value="1">
	<input type="hidden" name="sra" value="1">
	<input type="hidden" name="srt" value="0">
	<input type="hidden" name="no_note" value="1">
	<input type="hidden" name="invoice" value=""> 

	<!--	Paypal Custom Field		-->
	<input type="hidden" name="custom" value="<?=$affiliateID?>">
	</form>
<?
}
else
{
?>
	<form action="https://www.paypal.com/cgi-bin/webscr" method="post" id="paymentform">
	<input type="hidden" name="cmd" value="_xclick">
	<input type="hidden" name="no_shipping" value="1">
	<input type="hidden" name="no_note" value="1">
	<input type="hidden" name="shipping" value="0.00">
	<input type="hidden" name="lc" value="US">
	<input type="hidden" name="bn" value="PP-BuyNowBF">
	<input type="hidden" name="rm" value="2">
	<input type="hidden" name="business" value="<?=$paidToEmail?>">
	<input type="hidden" name="item_name" value="<?=$itemName?>">
	<input type="hidden" name="item_number" value="<?=$itemNumber?>">
	<input type="hidden" name="amount" value="<?=$itemPrice?>">
	<input type="hidden" name="currency_code" value="USD">
	<input type="hidden" name="notify_url" value="<?=$ipnURL?>">
	<input type="hidden" name="return" value="<?=$ipnURL?>">
	<input type="hidden" name="cancel_return" value="<?=$cancelURL?>">

	<!--	Paypal Payment Page variables	-->
	<input type="hidden" name="cbt" value="Click Here to Download <?=$itemName?>">
	<input type="hidden" name="cpp_header_image" value="https://www.e-junkie.com/sslpic/7891.b4238789d412bd1a03f0818bf4fedcad.jpg">
	<input type="hidden" name="cpp_headerborder_color" value="000000">
	<input type="hidden" name="cpp_headerback_color" value="000000">
	<input type="hidden" name="cpp_payflow_color" value="000000">

	<!--	Paypal Custom Field		-->
	<input type="hidden" name="custom" value="<?=$affiliateID?>">
	</form>				
<?
}
?>

<script language=javascript>
	setTimeout('redir()', 5000);
	function redir(){
		document.getElementById('paymentform').submit();
}
</script>