<center><h1>Thank You For Your Order! </h1></center>

<p>&nbsp;</p>

<p>Dear customer, thank you for your purchase with us. Please wait while your transaction is being
processed by Paypal.</p>

<p>Right now there is nothing you need to do. Once your payment has been processed
	we will email you with a link to download the product and access to the members area. </p>

<p>If you do not hear from us within 12 to 24 hours
	then please contact us here: <a href="mailto:<?=$supportEmail?>"><?=$supportEmail?></a></p>
	
<p>&nbsp;</p>