body {
    text-align: center;
    margin: 0; padding: 0;
    font-family: verdana,arial,sans-serif;
    font-size: 14px;
    line-height: 1.4;
    color: #000000;
    background: #000;
    background-attachment: fixed; 
    background-repeat: no-repeat;
    padding-bottom: 20px;
    width: 100%; 
}

#wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    display: block; 
    width: 1030px; 
}

#container {
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 25px #000;
    -moz-box-shadow: 0 0 25px #000;
    -webkit-box-shadow: 0 0 25px #000;
    border-radius: 10px;
    -moz-border-radius: 10px;
    -khtml-border-radius: 10px;
    -webkit-border-radius: 10px;
    margin-right: auto; 
    display: block; 
}

#mainContent {
    margin: 0px; 
    text-align: left;
}

#header {
    height: 57px;
    text-align: left;
    margin-bottom: 13px; 
}

.moduleBlue {
    border: 1px solid gray;
}

.moduleBlue h1 {
    margin: 0; 
    font-size: 90%;
    text-align: center;
    display: block;
    padding: 0.5em 0;
    background: #12649b;
    color: #ffffff;
}

.moduleBlue div {
    font-size: 14px; 
    padding: 5px 10px;
    text-align: left; 
}

.topBar {
    font: bold 1em Arial, Helvetica, sans-serif;
    text-align: center;
    background: #999999;
    width: inherit;
    height: 20px;
    margin: 0px;
    padding: 6px 0px 5px 0px;
    width: 100%;
    color: #FFF;
}

h2 {
    padding: 25px 0px 10px 0px;
    text-align: center;
}

h3 {
    font-size: 18px; 
}

#nav {
    width: 900px;
    padding: 10px 0px 0px 100px;
}

#nav ul {
    list-style: none;	
}

#nav li {
    display: inline; 
}

#nav a {
    float: left;
    width: 79px;
    height: 32px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

#nav a:hover {
    width: 79px;
    height: 32px;
    color: #ffffff;
    text-decoration: underline;
}

.checkList li {
    /*padding-top: 5px;*/
    margin-bottom: 5px;
    
}

p, li {
    line-height: 1.35;
    font-size: 14px;
}

.footer {
    text-align: center; }

.postTitle {
    text-decoration: none; 
    color: black;
}

.postTitle:hover {
    color: gray;
}

.ps {
    font-family: Tahoma, Geneva, sans-serif;
    font-size: 14px; 
}

a {
    text-decoration: none;
    color: blue; 
}

a:hover {
    text-decoration: underline;
    color: purple; 
}

.gray {	
    font-size: 22px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #666;
}

.orderText {
    font: italic 12px Arial;
    color: gray;  
}
 
.strong { 
    font-weight:bold; 
}
.red { 
    color:#c13100; 
}
.note {
    color:#767676;
    font:normal 11px Arial, Helvetica, sans-serif;
    margin:15px auto 0;
}

.darkred {
    color: #800000;
}

text .input {
    border: 1px solid #000000;
    background: #FFFFFF;
}

.input:hover {
    background: #FFFF99;
}
 
.optin {
    padding: 5px;
    background:#fff;
    background-color: #FFC;
    box-shadow:0 0 25px #000;-moz-box-shadow:0 0 25px #000;
    -webkit-box-shadow:0 0 25px #000;
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    -webkit-border-radius:10px;
    border-radius:10px;
    margin-right:auto; 
    display:block; 
}

.optin h1 {
    font-size: 30px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #600;
    text-align: center;
    font-weight: bold;
}

.orderForm {
    width: 550px;
    padding: 5px;
    border: thick dashed #800000;
}

.clr {
    clear: both;
    padding: 0;
    margin: 0;
    background: none;
} 

.pagination {
    float: none; 
    height: 36px;
    margin: auto;
}

.pagination ul {
    float: left;
    margin: 0;
    border: 1px solid #ddd;
    -webkit-border-radius: 3px; 
    -moz-border-radius: 3px;
    border-radius: 3px;
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.05); 
}

.pagination li {
    display:inline;
}

.pagination .next a {
    background-color: #ececec;
}

.pagination a {
    float: left;
    padding: 0 18px;
    line-height: 34px;
    border-right: 1px solid;
    border-right-color: #ddd;
    border-right-color: rgba(0, 0, 0, 0.15); 
    text-decoration: none;
}

.pagination a:hover, .pagination .active a {
    background-color: #c7eefe;
}

.separator {
    border-bottom: 1px dotted #CDCDCD; 
    margin: 10px 5px;
}

.linkTo {
    color:#0000FF; cursor: pointer; 
}

.linkTo:hover {
    text-decoration: underline;
}

.sidebar {
    left: 0;
    top: 35%;
    height: 266px;
    width: 60px;
    position: fixed;
    padding: 5px 10px 5px 5px;
    background: #fff;
    text-align: center; 
    box-shadow:0 0 25px #000;
    -moz-box-shadow:0 0 25px #000;
    -webkit-box-shadow:0 0 25px #000;
    border-radius: 10px; 
    -moz-border-radius:10px;
    -khtml-border-radius:10px;
    -webkit-border-radius:10px;
}

.checkList {
    list-style-image: url(../../images/splash/check.png);
}

#button1 a {
    background: url(../../images/blog/button1.png) no-repeat;
    height: 25px;
    width: 125px;
    padding-top: 20px;
}

#button1 a:hover {
    background: url(../../images/blog/button1_r.png) no-repeat;
    height: 34px;
    width: 125px;
    margin-top: -9px;
}

#button2 a {
    background: url(../../images/blog/button2.png) no-repeat;
    height: 25px;
    width: 125px;
    padding-top: 20px;
}

#button2 a:hover {
    background: url(../../images/blog/button2_r.png) no-repeat;
    height: 34px;
    width: 125px;
    margin-top: -9px;
}

#button3 a {
    background: url(../../images/blog/button3.png) no-repeat;
    height: 25px;
    width: 125px;
    padding-top: 20px;
}

#button3 a:hover {
    background: url(../../images/blog/button3_r.png) no-repeat;
    height: 34px;
    width: 125px;
    margin-top: -9px;
}

#button4 a {
    background: url(../../images/blog/button4.png) no-repeat;
    height: 25px;
    width: 125px;
    padding-top: 20px;
}

#button4 a:hover {
    background: url(../../images/blog/button4_r.png) no-repeat;
    height: 34px;
    width: 125px;
    margin-top: -9px;
}

#button5 a {
    background: url(../../images/blog/button5.png) no-repeat;
    height: 25px;
    width: 125px;
    padding-top: 20px;
}

#button5 a:hover {
    background: url(../../images/blog/button5_r.png) no-repeat;
    height: 34px;
    width: 125px;
    margin-top: -9px;
}

#bannerSmall {
    display: none;
}


#blogMenu ul {
    list-style: none;	
}




#blogMenu li {
    display: inline; 
}

#blogMenu a {
    float: left;
    width: 79px;
    height: 32px;
    display: block;
    text-align: center;
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
    text-transform: uppercase;
}

.menu span {
    position: absolute; 
    text-align: center;
    padding-top: 12px;
    width: 125px;
/*    border: 1px solid black;*/
}

#blogMenu a img {
    margin-top: 0px;
    
}

#blogMenu a:hover span {
    height: 32px;
    color: #ffffff;
    text-decoration: underline;
}


@media (max-width: 768px) {
    #rightCol, .sidebar {
        display: none;
    }
    
    #bannerBig {
        display: none;
    }
    
    #bannerSmall {
        display: block;
    }
    
    #header { 
        margin-left: -130px;
    }
    
    #wrapper {
        width: 770px; 
    }
    
    #mainContent {
        width: 720px;
    }   
    
    .menu img {
        width: 100px;
        height: 40px;
    }
     
    .menu span {
        width: 100px;
    }
}